.movieImg {
    float: left;
    max-height: 16rem;
    position: relative;
    margin: 3rem;
    z-index: 10;
}

.form {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 5%;
    /* position: absolute;
    top: 40%; */
}

.pageH1 {
    margin-top: 2rem;
    text-align: center;
}

.backgroundShowSelection {
    display: block;
}

.flexMovItems {
    display: flex;
    
}

.showSelection {
    margin-top: 20rem;
}

.movieDetails {
    margin-top: 3rem;
}