.myButton {
	font-size:15px;
	padding:6px 24px;
	text-decoration:none;
	margin: 5px;
	cursor:pointer;
	border-radius:3px;
	background-color:#cc0028;
	color: white;
	outline:none;
	border: none;
}
.myButton:hover {
	background-color:#e04665;
}
.myButton:active {
	position:relative;
	top:1px;
}