.myButton {
	box-shadow:inset 0px 1px 0px 0px #92a3d1;
	background:linear-gradient(to bottom, #154dad 5%, #2c80b8 100%);
	background-color:#154dad;
	border-radius:6px;
	border:1px solid #374cb3;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}
.myButton:hover {
	background:linear-gradient(to bottom, #2c80b8 5%, #154dad 100%);
	background-color:#2c80b8;
}
.myButton:active {
	position:relative;
	top:1px;
}
