*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



.navBar {
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style-type: none;
  display: flex;
  align-items: center;
  background: #cc0028;
  height: 3.56em;
}

.navBarText {
  color: white;
  text-align: center;
  padding: 1rem 1.5rem;
  text-decoration: none;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  cursor: pointer;
}

.navBarText:hover {
  box-shadow: inset 0 -.25rem 0 0 hsla(0,0%,100%,.5);
}

.logoImage {
  height: 100%;
  width: auto;
}

.navPage {
  display: flex;
}

.logoListItem {
  height: 100%;
}

.logoListItem:hover {
  box-shadow: inset 0 -.25rem 0 0 hsla(0,0%,100%,.5);
}

.homeLink {
  padding: auto 5px;
}

.languageParent {
  display: flex;
}