*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* @font-face {
  font-family: "Dancing Script", sans-serif;
  font-style: normal;
  font-weight: 300 400;
  src: url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap');
} */

.navBar {
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style-type: none;
  display: flex;
  align-items: center;
  background: #cc0028;
  height: 3.56em;
}

li a:hover {
  box-shadow: inset 0 -.25rem 0 0 hsla(0,0%,100%,.5);
}

.logoImage {
  height: 100%;
  width: auto;
}

.lang {
height: 30px;
margin-left: auto;
text-align: center;

}

.navPage {
  display: flex;
}

.navPage a {
  color: white;
  text-align: center;
  padding: 1rem 1.5rem;
  text-decoration: none;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
}

.logoListItem {
  height: 100%;
}

.logoListItem:hover {
  box-shadow: inset 0 -.25rem 0 0 hsla(0,0%,100%,.5);
}

.homeLink {
  padding: auto 5px;
}