.movieCarousel {
    margin: auto;
    width: 30%;
    padding-top: 2rem;
}

.aLegend {
    color: white;
    font-size: 14px;
    font-weight: bold;
}

.movieImage {
    width: 100%;
  

}

.imageDiv {
    padding: .5rem;
}
