.seatStyle {
  display: flex;
}

.board-row {
  margin-top: 1em;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
  }

.seatsBackground {
  margin: 0 auto;
}

.screen {
  background-color:  #f76d30;
  height: 2rem;
  text-align: center;
}

.formInfo {
  display: flex;
  flex-direction: column;
  margin-right: 10rem;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 5%;
}

.receiptInfo {
  margin-left: 10rem;
  margin-top: 4.2rem
}

h1 {
  text-align: center;
  margin-bottom: 2rem;
}